.flex-container{
  display: flex;
  min-height: 300px;
  width: 100%;
}

.flex-container div{
  border: 1px solid black;
margin: 5px;
}

.light-pink div{
  background-color: #F5C6D6;
  flex-grow: 1;
}

.dark-pink div{
  background-color: #ee2e84;
  flex-grow: 1;
}

.blue div{
  background-color: #85cfd8;
  flex-grow: 1;
}

.green div{
  background-color: #8DC63F;
  flex-grow: 0.3;
}


.orange div{
  background-color: #E76E34;
  flex-grow: 0.3;
}
