body{
  font-family: "Lora", serif;
  width: 60%;
  margin: auto;
}

h1 {
    color: #33485e;
    text-align: center;
    font-family: "open serif", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

img {
    /*max-width: 600px; */
    width: 25%;
    margin: auto;
    float: right;
    width: 250px;
    padding-bottom: 150px;
}

h2 {
    background-color: #33485e;
    color: white;
    font-weight: bold;
    padding: 5px 3px;
    font-family: "open sans", sans-serif;
}
h5 {
    font-style: italic;
}

#tagline {
    font-weight: bold;
    font-style: italic;
}

.mark {
   background-color: #33485e;
   color: white;
}

.topper{
  width: 80%;
  margin: auto;
  text-align: center;
}

.topper p{
  font-weight: bold;
  font-style: italic;
  color: gray;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.topper ul{
  margin-left: 0;
}

.topper ul li{
  display: inline-block;
}

.separator {
   height: 4px;
   display: inline-block;
   border-left: 2px solid #999;
   margin: -2px 0px;
   padding-bottom: 10px;
 }
